/* GEDPARSE DISPLAY STYLES */

#gedparse,
#gedparse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

#gedparse {
  width: 100%;
}

#gedparse .selected,
#gedparse .partner,
#gedparse .family-info,
#gedparse .children {
  padding: 0.5rem 1.5rem;
  width: 50%;
}

#gedparse .selected,
#gedparse .family-info {
  float: left;
}

#gedparse .partner,
#gedparse .children {
  margin: 0 0 0 50%;
}

#gedparse .gender-f {
  background-color: #ffecec;
}

#gedparse .gender-m {
  background-color: #ececff;
}

#gedparse .parents {
  height: 7rem;
}

#gedparse h2.main-name {
  margin-top: 0;
}

#gedparse .partnership {
  clear: left;
  background-color: #ebd7eb;
  z-index: 100;
  overflow: auto;
}

#gedparse img {
  float: right;
  margin: 0 0 2em 2em;
}


/* to get equal height columns */
#gedparse {
  overflow: hidden;
}

#gedparse .selected,
#gedparse .partner,
#gedparse .partnership {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
/* end equal height CSS */


#gedparse .event {
  text-indent: -2em;
  margin-left: 2em;
}
