/* GEDPARSE DISPLAY STYLES */

.gedparse .selected,
.gedparse .partner {
 -webkit-border-radius: 0.5rem;
 -moz-border-radius: 0.5rem;
 border-radius: 0.5rem;
 padding: 0.5rem 1.5rem;
}

.gedparse .gender-f {
  background-color: rgba(255, 200, 200, 0.25) ;
}

.gedparse .gender-m {
  background-color: rgba(200, 200, 255, 0.25) ;
}

.gedparse img {
  float: right;
  margin: 0 0 2em 2em;
}
