/* GEDPARSE DISPLAY STYLES */


#gedparse .span6,
#gedparse .span12 {
 margin: 0;
 padding: 0.5rem 1.5rem;
}

#gedparse .span6 {
  width: 50%;
}

#gedparse .gender-f {
  background-color: #ffecec;
}

#gedparse .gender-m {
  background-color: #ececff;
}

#gedparse .family-info {
  background-color: #ebd7eb;
}

#gedparse img {
  float: right;
  margin: 0 0 2em 2em;
}


/* to get equal height columns */
#gedparse {
  overflow: hidden;
}

#gedparse .span6 {
  margin-bottom: -99990px;
  padding-bottom: 99999px;
}
/* end equal height CSS */


#gedparse .event {
  text-indent: -2em;
  margin-left: 2em;
}
